/*CSS Document for Stock Piler*/

/******************************************************************************************/

/*MAIN STYLES*/

*{
	margin: 0px;
	padding: 0px;
	border: 0px;
    box-sizing: border-box;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

body, html {
    min-height: 100%;
}

body{
	font-family: 'Georgia';
	background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}

div#container{
    width: 100%;
    margin-top: 20px;
}

/*END MAIN STYLES*/

/******************************************************************************************/



/******************************************************************************************/

/*HEADER STYLES*/
div#header{
    opacity: 0.9;
	width: 100%;
	height: 4.6vh;
	background-color: #353535;
	margin: 0px auto;
    padding-bottom: 0px;
}

.logo{
    float: left;
    margin-top: .5vh;
    margin-left: 1vw;
}

.logo a{
    font-size: 1.5vw;
    color: #fff;
}

.logo a span{
    font-weight: 500;
    color: #00fcff;
}

/*END HEADER STYLES*/

/******************************************************************************************/



/******************************************************************************************/

/*FOOTER STYLES*/

div#footer{
    width: 100%;
	height: 3vh;
	background-color: #252525;
	margin: 0px auto;
    position: fixed;
    color: #fff;
    bottom: 0;
    opacity: 0.9;
}

.copywrite{
    float: left;
    margin-top: .4vh;
    margin-left: 1vw;
}

.copywrite a{
    font-size: 1.5vh;
    color: #fff;
}

/*END FOOTER STYLES*/

/******************************************************************************************/